{% if phone_number %}
    <div class="whatsapp-widget-container">                   
        <div class="whatsapp-widget-text"><img class="whatsapp-widget-avatar" src="/image/manager.png" alt="Avatar">{{ random_text }}</div>
        <a href="https://api.whatsapp.com/send/?phone={{ phone_number }}" class="whatsapp-widget" target="_blank">
            <span class="textwriteme">Напишите нам</span><img src="/image/whatsapp-icon.png" alt="WhatsApp">
        </a>
    </div>
    <style>
        .whatsapp-widget-container {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 9999;
            text-align: center;
        }
		.textwriteme {
		 position: relative;
    	left: 74px;
		}

        .whatsapp-widget-avatar {
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }

        .whatsapp-widget-text {
            margin-bottom: 5px;
            font-size: 14px;
            color: #333;
            background-color: #f9f9f9;
            padding: 5px 10px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .whatsapp-widget {
            display: inline-block;
            position: relative;
        }

        .whatsapp-widget img {
            width: 50px;
            height: 50px;
            transition: transform 0.3s;
        }

        .whatsapp-widget img:hover {
            transform: scale(1.1);
        }

        .whatsapp-widget-text-container {
            position: absolute;
            top: 35px; /* Текст будет расположаться сверху */
            left: 50%;
            transform: translateX(-50%);
            display: none;
            text-align: center;
            z-index: 10000;
        }

        .whatsapp-widget-hover-text {
    font-size: 11px;
    color: #333;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
        }

        .whatsapp-widget:hover .whatsapp-widget-text-container {
            display: block;
        }

        .whatsapp-widget.animation-bounce {
            animation: bounce 1.5s infinite;
        }

        @keyframes bounce {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
            const widget = document.querySelector('.whatsapp-widget');
            if (isMobile) {
                widget.href = 'whatsapp://send?phone={{ phone_number }}';
            }
        });
    </script>
{% endif %}
